form{
    text-align: center;
    .mat-form-field{
        width: 300px;
        margin-top: 10px;
    }
}
h3{
    color: orangered;
}
button{
    background-color: orangered;
    color: white;
    border: none;
    width: 300px;
}